*,
*::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container-second {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  display: flex;
  align-items: center;
  background-color: black;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  padding: 0px 20px;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo-link {
  display: inline-block;
}

.header__logo {
  display: block;
  max-width: 132px;
  height: 32px;
  transition: 0.4s ease;
}

.header__logo:hover {
  transform: scale(1.1);
}

.nav {
  margin-top: 20px;
}

.nav__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}

.nav__item {
  margin-left: 20px;
}

.nav__link {
  text-decoration: none;
  color: white;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.4s ease;
}

.nav__link:hover {
  color: white;
  padding-bottom: 10px;
  border-bottom: solid 2px cyan;
}

.header__massengers {
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.header__list {
  list-style-type: none;
  display: flex;
}

.header__item {
  margin-left: 5px;
  transition: 0.4s ease;
}

.header__item :hover {
  transform: scale(1.1);
}

.hero__inner {
  display: flex;
  margin-top: 150px;
}

.hero__all-text {
  width: 35%;
}

.hero__heading {
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 51px;
  line-height: 61px;
  color: white;
}

.hero__text {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: white;
}

.hero__button {
  width: 205px;
  height: 60px;
  background-color: #8DFD1B;
  border-radius: 5px;
  border: none;
  margin-top: 70px;
  color: black;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  transition: 0.4s ease;
}

.hero__button:hover {
  background-color: darkturquoise;
  box-shadow: 0px 0px 20px 10px red;
}

.hero__img {
  margin-top: -70px;
}

.wave__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 180px;
}

.wave__heading {
  color: white;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  margin-bottom: 0px;
}

.wave__collection {
  width: 300px;
  margin-top: 0px;
  margin-bottom: 80px;
  color: gray;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
}

.wave__img {
  margin-left: -70px;
}

.wave__all-text {
  width: 40%;
  margin-top: 30px;
}

.wave__list-text {
  width: 600px;
  list-style-type: none;
}

.wave__item-text-green {
  color: #8DFD1B;
  border-left: solid 3px #8DFD1B;
  padding-left: 40px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
}

.wave__item-text {
  color: white;
  margin-top: 20px;
  margin-bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
}

.wave__btn {
  margin-top: 60px;
  border: solid 2px #8DFD1B;
  background-color: black;
  color: white;
  padding: 10px 50px;
  transition: 0.4s ease;
}

.wave__btn:hover {
  color: black;
  background-color: #8DFD1B;
  box-shadow: 0px 0px 20px 10px gray;
}

.artists__list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.artists__item {
  width: 245px;
  height: 309px;
  margin: 40px 20px;
}

.artists__name {
  color: white;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.artists__heading {
  color: white;
  text-align: center;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  margin-bottom: 10px;
  line-height: 88px;
}

.story {
  position: relative;
  margin-bottom: 120px;
}

.story__box {
  padding-bottom: 360px;
}
.story__box::before {
  position: absolute;
  right: calc(50% - 760px);
  bottom: 0;
  width: 1520px;
  height: 240px;
  background-image: url("../../img/story-bg-img.png");
  background-repeat: no-repeat;
  background-size: 1520px 240px;
  background-position: center bottom;
  content: "";
}

.story__title {
  margin: 0 0 61px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.story__desc {
  display: inline-block;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #A8A8A8;
}

.story__content-box {
  display: flex;
}

.story__form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 282px;
}

.story__lable {
  width: 100%;
}

.story__text {
  display: inline-block;
  padding: 25px 28px 31px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.story__input:checked ~ .story__text {
  width: 100%;
  color: #8DFD1B;
  background-color: #222;
}

.story__content {
  display: flex;
  padding: 71px 84px 76px 60px;
  background-color: #222;
}

.story__img {
  width: 172px;
  height: 253px;
  margin-right: 40px;
}

.story__right {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 546px;
}

.story__subject {
  margin: 0 0 28px;
  padding-left: 22px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  border-left: 2px solid #8DFD1B;
}

.story__info-box {
  width: 100%;
  max-width: 522px;
  margin: 0;
}

.story__info {
  display: inline-block;
  margin-bottom: 18px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
}
.story__info:nth-child(3) {
  margin-bottom: 0;
}

.roadmep {
  position: relative;
  z-index: 100;
  margin-bottom: 245px;
  padding-bottom: 228px;
}
.roadmep::before {
  position: absolute;
  top: -230px;
  right: calc(50% + 20px);
  width: 672px;
  height: 672px;
  background-image: url("../../img/circle.png");
  background-repeat: no-repeat;
  background-size: 672px;
  background-position: center;
  content: "";
}
.roadmep::after {
  position: absolute;
  top: 300px;
  left: calc(50% + 35px);
  width: 672px;
  height: 672px;
  background-image: url("../../img/circle.png");
  background-repeat: no-repeat;
  background-size: 672px;
  background-position: center;
  content: "";
}

.roadmep__box {
  display: flex;
  flex-direction: column;
}
.roadmep__box::before {
  position: absolute;
  bottom: 175px;
  right: calc(50% + 25px);
  width: 672px;
  height: 672px;
  background-image: url("../../img/circle.png");
  background-repeat: no-repeat;
  background-size: 672px;
  background-position: center;
  content: "";
}
.roadmep__box::after {
  position: absolute;
  bottom: -5px;
  right: calc(50% - 505px);
  width: 1160px;
  height: 180px;
  background-image: url("../../img/roadm-bg.png");
  background-repeat: no-repeat;
  background-size: 1160px 180px;
  background-position: center;
  content: "";
}

.roadmep__title {
  margin: 0 0 61px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.roadmep__list {
  position: relative;
  z-index: 100;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 48px 90px;
}
.roadmep__list::before {
  position: absolute;
  top: 415px;
  right: 50%;
  width: 2px;
  height: 40px;
  background-image: url("../../img/roadm-line.png");
  background-repeat: no-repeat;
  background-size: 2px 40px;
  background-position: center;
  content: "";
}
.roadmep__list::after {
  position: absolute;
  bottom: 580px;
  right: 50%;
  width: 2px;
  height: 40px;
  background-image: url("../../img/roadm-line.png");
  background-repeat: no-repeat;
  background-size: 2px 40px;
  background-position: center;
  content: "";
}

.roadmep__label {
  width: 100%;
  max-width: 538px;
  margin-bottom: 140px;
  background: #222222;
  border: 1px solid #8DFD1B;
}

.roadmep__item-box {
  display: inline-block;
  width: 100%;
}

.roadmep__item {
  display: inline-block;
  width: 100%;
}

.roadmep__top {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 13px;
}

.roadmep__number {
  display: inline-block;
  margin-right: 12px;
  padding: 7px 16px 9px;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 28px;
  color: #8DFD1B;
  border: 1px solid #8DFD1B;
}

.roadmep__desc {
  display: block;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #8DFD1B;
}

.roadmep__subject {
  display: block;
  font-family: "DM Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.roadmep__line {
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #8DFD1B;
}

.roadmep__bottom {
  display: flex;
  width: 100%;
  padding: 25px 13px 30px;
}

.roadmep__content {
  width: 100%;
  max-width: 295px;
}

.roadmep__info-box {
  display: inline-block;
  margin-bottom: 20px;
  padding-left: 22px;
}

.roadmep__info {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 32px;
  color: #FFFFFF;
}

.roadmep__text {
  display: block;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 26px;
  color: #FFFFFF;
}

.text {
  margin-bottom: 14px;
}

.roadmep__img {
  width: 129px;
  height: 129px;
  margin-left: auto;
  border-radius: 8px;
}

.roadmep__input:checked ~ .roadmep__item-box > .roadmep__item > .roadmep__top > .roadmep__number {
  color: #000000;
  background: #8DFD1B;
  border: 1px solid #8DFD1B;
}

.quation {
  margin-bottom: 115px;
}

.quation__box {
  display: flex;
  justify-content: space-between;
}

.quation__left {
  width: 100%;
  max-width: 360px;
}

.quation__title {
  margin: 0 0 51px;
  font-family: "Audiowide";
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.quation__desc {
  color: #A8A8A8;
}

.quation__img {
  width: 360px;
  height: 360px;
}

.quation__right {
  width: 100%;
  max-width: 580px;
}/*# sourceMappingURL=main.css.map */