.story{
  position: relative;
  margin-bottom: 120px;
}

.story__box{
  padding-bottom: 360px;
  &::before{
    position: absolute;
    right: calc(50% - 760px);
    bottom: 0;
    width: 1520px;
    height: 240px;
    background-image: url("../../img/story-bg-img.png");
    background-repeat: no-repeat;
    background-size: 1520px 240px;
    background-position: center bottom;
    content: "";
  }
}

.story__title{
  margin: 0 0 61px;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}

.story__desc{
  display: inline-block;
  font-family: 'Audiowide';
  font-style: normal;
  font-weight: 400;
  font-size: 38px;
  line-height: 45px;
  text-align: center;
  text-transform: uppercase;
  color: #A8A8A8;
}

.story__content-box{
  display: flex;
}

.story__form{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 282px;
}

.story__lable{
  width: 100%;
}

.story__text{
  display: inline-block;
  padding: 25px 28px 31px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #FFFFFF;
}

.story__input:checked ~ .story__text{
  width: 100%;
  color: #8DFD1B;
  background-color: #222;
}

.story__content{
  display: flex;
  padding: 71px 84px 76px 60px;
  background-color: #222;
}

.story__img{
  width: 172px;
  height: 253px;
  margin-right: 40px;
}

.story__right{
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 546px;
}

.story__subject{
  margin: 0 0 28px;
  padding-left: 22px;
  font-family: 'DM Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 32px;
  color: #8DFD1B;
  border-left: 2px solid #8DFD1B;
}

.story__info-box{
  width: 100%;
  max-width: 522px;
  margin: 0;
}

.story__info{
  display: inline-block;
  margin-bottom: 18px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #FFFFFF;
  &:nth-child(3){
    margin-bottom: 0;
  }
}